/* ===== VARIÁVEIS GLOBAIS E RESET ===== */
:root {
  --bg-dark: #0B0B0A;
  --bg-light: #FAF2E1;
  --text-light-1: #F4E7CF;
  --text-light-2: #F7F4F1;
  --text-dark-1: #5B4E41;
  --text-dark-2: #AFAFAF;
  --text-dark-3: #9E9C9C;
  --primary-color: #FF8210;
  --secondary-color: #D26909;

  --font-nav: 'Passion One', sans-serif;
  --font-text-1: 'Akatab', sans-serif;
  --font-text-2: 'Rethink Sans', sans-serif;
  --font-text-3: 'Londrina Solid', cursive;
  --font-title-1: 'Passion One', sans-serif;
  --font-title-2: 'Dai Banna SIL', sans-serif;
  --font-cursive-1: 'Caveat Brush', cursive;
  --font-cursive-2: 'Beth Ellen', cursive;


  --header-height: 120px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: var(--font-nav);
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 180px auto;
  padding: 0 64px;
}

section {
  overflow: hidden;
}

/* ===== CABEÇALHO E NAVEGAÇÃO RESPONSIVA ===== */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: var(--header-height);
  width: 100%;
  background-color: var(--bg-dark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo a {
  font-family: var(--font-logo);
  font-size: 2rem;
  color: var(--text-light);
  text-decoration: none;
}

.logo span {
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--bg-dark);
  position: fixed;
  top: var(--header-height);
  left: -100%; /* Escondido fora da tela */
  width: 100%;
  height: calc(100vh - var(--header-height));
  transition: left 0.3s ease-in-out;
}

.nav-links.active {
  left: 0; /* Mostra o menu */
}

.nav-links a {
  color: var(--text-dark-2);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a, .active {
  color: var(--text-dark-2);

}

.nav-links a:hover, .nav-links a.active {
  color: var(--primary-color);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.hamburger-menu__bar {
  width: 100%;
  height: 3px;
  background-color: var(--text-light-1);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* Animação do Hamburger para 'X' */
.hamburger-menu.active .hamburger-menu__bar:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}
.hamburger-menu.active .hamburger-menu__bar:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.active .hamburger-menu__bar:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

/* ===== SEÇÃO 1: HERO ===== */
.hero-section {
  height: calc(100vh + 32px);
  margin: -64px 64px 80px 64px;
  padding: 0 0 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-subtitle-top {
  font-family: var(--font-cursive-1);
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 400;
}

.hero-title {
  font-family: var(--font-title-1);
  color: var(--primary-color);
  color: var(--text-light-1);
  font-size: 3rem;
  max-width: 30ch;
  line-height: 1.1;
}

.image-placeholder {
  display: flex;
  position: absolute;
  top: 365px;
  justify-content: center;
  align-items: center;
}

/* .image-placeholder svg { 
  stroke: var(--text-dark); 
} */

.scroll-indicator {

  position: absolute;
  bottom: 0;
  color: var(--primary-color);
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}
 
.main-footer {
  background-color: var(--bg-dark);
  padding: 50px 0 0 0;
  font-family: var(--font-text-2);
  color: var(--text-light-1);
  font-size: 0.9rem;
}
.footer-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.footer-column h4 {
  font-family: var(--font-text-2);
  color: var(--text-light-2);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-logo a {
  width: 2.5rem;
}

.footer-contact p, .footer-pages a {
  color: var(--text-dark-2);
  text-decoration: none;
  line-height: 1.8;
  margin-bottom: 0.75rem;
}

.footer-pages a {
  display: block;
  transition: color 0.3s;
}
.footer-pages a:hover { 
  color: var(--primary-color); 
}

.footer-socials {
  display: flex;
  justify-content: left;
  gap: 12px;
  margin-top: 15px;
}

.footer-socials a { 
  display: flex;
  flex-direction: row;
}

.footer-socials a:hover { 
  color: var(--primary-color); 
}

.footer-divisor {
  content: "";
  display: inline-block;
  background-color: #282828;
  width: 100%;
  height: .5px;
  margin-bottom: 0.75rem;
}

.footer-bottom-bar {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border-top: 1px solid #333;
  font-size: 0.8rem;
  color: var(--text-light-2);
}

/* ============================================== */
/* ===== MEDIA QUERIES (TABLET E DESKTOP) ===== */
/* ============================================== */
@media (max-width: 768px) {
  /* === HERO === */
  .hero-title { 
    font-size: 2rem;
   }
  .hero-subtitle-top { 
    font-size: 1.5rem; 
  }
  .nav-links a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .image-placeholder {
    top: 315px;
  }

  .image-placeholder img {
    width: 300px;
  }

  /* === GALERIA INTERATIVA === */
  .gallery-container {
    flex-direction: column;
    height: 550px;
  }

  .gallery-card {
    flex: 1;
    height: auto;
    transition: flex 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .gallery-card__bg-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .gallery-card.active {
    flex: 5; /* Largura expandida */
  }

  .gallery-card__content {

   transform: translateY(calc(100% - 80px)); /* Mostra só um pedaço */
    opacity: 0;
    transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .gallery-card:hover, .gallery-card:hover .gallery-card__content{
    flex: 5;
    opacity: 1;
  }

  .gallery-card:hover .gallery-card__content,
  .gallery-card.active .gallery-card__content {
    transform: translateY(0);
  }

  /* === RODAPÉ === */
    .footer-container {
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }
    .footer-socials {
      justify-content: left;
      gap: 12px;
    }

    .footer-socials a img{ 
      width: 20px;
    }
}


@media (min-width: 768px) {
  /* === HEADER === */

  .main-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  .logo {
    justify-self: start;
  }

  .hamburger-menu { 
    display: none;
  }
  .nav-links {
      position: static;
      flex-direction: row;
      width: auto;
      height: auto;
      left: auto;
      background-color: transparent;
  }

  .nav-links a.active { position: relative; }
  .nav-links a.active::after {
      content: ''; position: absolute; bottom: -5px;
      left: 0; width: 100%; height: 3px;
      background-color: var(--primary-color);
  }

  /* === GALERIA INTERATIVA === */
  .gallery-section { padding: 80px 0; }

  .gallery-card {
      flex: 1; /* Largura base comprimida */
      height: 100%;
      transition: flex 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .gallery-card.active {
      flex: 5; /* Largura expandida */
  }
  .gallery-card__content {
      transform: translateY(calc(100% - 80px)); /* Mostra só um pedaço */
      opacity: 0;
      transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .gallery-card:hover, .gallery-card:hover .gallery-card__content{
    flex: 5;
    opacity: 1;
  }

  .gallery-card:hover .gallery-card__content,
  .gallery-card.active .gallery-card__content {
      transform: translateY(0);
  }

  /* === CTA === */
  .cta-section::before { clip-path: polygon(0 0, 65% 0, 45% 100%, 0% 100%); }
  .cta-container {
      flex-direction: row;
      align-items: center;
      text-align: left;
      max-width: 1100px;
      margin: 0 auto;
      width: 90%;
  }
  .cta-text-content { flex: 1; }
  .cta-image-content { 
      flex: 1; 
      height: 450px; 
  }
  .cta-price-badge { right: 20px; }

}

